<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partialA/head %>
  </head>
  <body>
    <div class="wrapper">
      <% include ../partialA/main_header %>

      <!-- Sidebar -->
      <% include ../partialA/sidebar %>
      <!-- End Sidebar -->

      <div class="main-panel">
        <div class="content">
          <div class="page-inner">
            <div class="page-header">
              <h4 class="page-title">Agent List</h4>
              <ul class="breadcrumbs">
                <li class="nav-home">
                  <a href="/admin">
                    <i class="flaticon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                  <a href="/admin/agentlist">Agent List</a>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">All agent list</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        id="basic-datatables"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Account</th>
                            <th>Mail</th>
                            <th>Phone</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Name</th>
                            <th>Account</th>
                            <th>Mail</th>
                            <th>Phone</th>
                            <th>Action</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <% for(var i = 0; i < agents.length; i++){%>
                          <tr>
                            <td><%= agents[i].name %></td>
                            <td><%= agents[i].type %></td>
                            <td><%= agents[i].email %></td>
                            <td><%= agents[i].phone %></td>
                            <td>
                              <% if(agents[i].type == 'free'){%>
                              <button
                                class="btn btn-primary"
                                onclick="upgradeAcc('<%= agents[i]._id %>','1')"
                              >
                                Upgrade to preminum
                              </button>
                              <%}else{%>
                              <button
                                class="btn btn-warning"
                                onclick="upgradeAcc('<%= agents[i]._id %>','0')"
                              >
                                Downgrade to free
                              </button>
                              <%}%>
                            </td>
                          </tr>
                          <%}%>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% include ../partialA/footer %>
      </div>
    </div>
    <!--   Core JS Files   -->
    <% include ../partialA/script %>
    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <!-- <script src="/adassets/js/setting-demo.js"></script> -->
    <!-- <script src="/adassets/js/demo.js"></script> -->
    <script>
      $(document).ready(function () {
        $("#basic-datatables").DataTable({});
      });
      function upgradeAcc(id, type) {
        $.ajax("/admin/upgradeAcc", {
          method: "POST",
          data: { id: id, type: type },
          success: function (result) {
            if (result.status == "done") {
              alert("Account is changed!");
              location.reload();
            } else {
              alert("Something was wrong, Account level not change!");
            }
          },
        });
      }
    </script>
  </body>
</html>
