<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partialA/head %>
  </head>
  <body>
    <div class="wrapper">
      <% include ../partialA/main_header %>

      <!-- Sidebar -->
      <% include ../partialA/sidebar %>
      <!-- End Sidebar -->

      <div class="main-panel">
        <div class="content">
          <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
              <div
                class="d-flex align-items-left align-items-md-center flex-column flex-md-row"
              >
                <div>
                  <h2 class="text-white pb-2 fw-bold">Dashboard</h2>
                  <h5 class="text-white op-7 mb-2">Shwe Myay Real Estimate</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="page-inner mt--5">
            <div class="row mt--2">
              <div class="col-md-12">
                <div class="card full-height">
                  <div class="card-body">
                    <div class="card-title">Agent & Property</div>
                    <div class="card-category">
                      Summary information about statistics in system
                    </div>
                    <div
                      class="d-flex flex-wrap justify-content-around pb-1 pt-2"
                    >
                      <div class="card card-stats card-round">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-icon">
                              <div
                                class="icon-big text-center icon-primary bubble-shadow-small"
                              >
                                <i class="flaticon-users"></i>
                              </div>
                            </div>
                            <div class="col col-stats ml-1 ml-sm-0">
                              <div class="numbers">
                                <p class="card-category">Total Instresting</p>
                                <h4 class="card-title"><%= inCount %></h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card card-stats card-round">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-icon">
                              <div
                                class="icon-big text-center icon-success bubble-shadow-small"
                              >
                                <i class="flaticon-home"></i>
                              </div>
                            </div>
                            <div class="col col-stats ml-1 ml-sm-0">
                              <div class="numbers">
                                <p class="card-category">Total Property</p>
                                <h4 class="card-title"><%= propertyCount %></h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card card-stats card-round">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-icon">
                              <div
                                class="icon-big text-center icon-secondary bubble-shadow-small"
                              >
                                <i class="flaticon-user"></i>
                              </div>
                            </div>
                            <div class="col col-stats ml-1 ml-sm-0">
                              <div class="numbers">
                                <p class="card-category">Total Agent</p>
                                <h4 class="card-title"><%= agentCount %></h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Recent Property</div>
                  </div>
                  <div class="card-body pb-0">
                    <% for(var i = 0; i < properties.length; i++){%>
                    <div class="d-flex">
                      <div class="avatar">
                        <img
                          src="<%= properties[i].profile %>"
                          alt="..."
                          class="avatar-img rounded-circle"
                        />
                      </div>
                      <div class="flex-1 pt-1 ml-2">
                        <h6 class="fw-bold mb-1">"<%= properties[i].name %></h6>
                        <small class="text-muted"
                          ><%= properties[i].address %></small
                        >
                      </div>
                      <div class="d-flex ml-auto align-items-center">
                        <h3 class="text-info fw-bold">
                          <%= properties[i].price %> MMK
                        </h3>
                      </div>
                    </div>
                    <div class="separator-dashed"></div>
                    <%}%>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title fw-mediumbold">Recnt Agents</div>
                    <div class="card-list">
                      <% for(var i = 0; i < agents.length; i++){%>
                      <div class="item-list">
                        <div class="avatar">
                          <img
                            src="<%= agents[i].imgUrl %>"
                            alt="..."
                            class="avatar-img rounded-circle"
                          />
                        </div>
                        <div class="info-user ml-3">
                          <div class="username"><%= agents[i].name %></div>
                          <div class="status"><%= agents[i].role %></div>
                        </div>
                      </div>
                      <%}%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% include ../partialA/footer %>
      </div>
    </div>
    <!--   Core JS Files   -->
    <% include ../partialA/script %>
    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <!-- <script src="/adassets/js/setting-demo.js"></script> -->
    <!-- <script src="/adassets/js/demo.js"></script> -->
  </body>
</html>
