<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <% include ./partial/head %>
  </head>
  <body>
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <% include ./partial/navbar %>
    <!-- End of nav bar -->

    <div class="slider-area">
      <div class="slider">
        <div id="bg-slider" class="owl-carousel owl-theme">
          <div class="item">
            <img
              src="/assets/img/slide1/slider-image-1.jpg"
              alt="Mirror Edge"
            />
          </div>
          <div class="item">
            <img
              src="/assets/img/slide1/slider-image-2.jpg"
              alt="The Last of us"
            />
          </div>
          <div class="item">
            <img src="/assets/img/slide1/slider-image-4.jpg" alt="GTA V" />
          </div>
        </div>
      </div>
      <div class="container slider-content">
        <div class="row">
          <div
            class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12"
          >
            <h2>Property Searching Just Got So Easy</h2>
            <p>
              Following feature will help you to find more easily for results
            </p>
            <div class="search-form wow pulse" data-wow-delay="0.8s">
              <form action="/properties" class="form-inline">
                <button class="btn toggle-btn" type="button">
                  <i class="fa fa-bars"></i>
                </button>

                <div class="form-group">
                  <select
                    id="state"
                    class="selectpicker"
                    name="state"
                    data-live-search="true"
                    data-live-search-style="begins"
                    title="Select your State"
                  ></select>
                </div>
                <div class="form-group">
                  <select
                    id="district"
                    name="district"
                    class="selectpicker"
                    data-live-search="true"
                    data-live-search-style="begins"
                    title="Select your city"
                  ></select>
                </div>
                <div class="form-group">
                  <select
                    id="basic"
                    class="selectpicker show-tick form-control"
                    name="status"
                  >
                    <option>-Status-</option>
                    <option value="rent">Rent</option>
                    <option value="sale">Sale</option>
                  </select>
                </div>
                <button class="btn search-btn" type="submit">
                  <i class="fa fa-search"></i>
                </button>

                <div style="display: none" class="search-toggle">
                  <div class="search-row">
                    <div class="form-group mar-r-20">
                      <label for="price-range">Price range (MMK):</label>
                      <input
                        type="text"
                        class="span2"
                        value=""
                        name="price"
                        data-slider-min="100000"
                        data-slider-max="1000000000"
                        data-slider-step="10000"
                        data-slider-value="[100000,1000000000]"
                        id="price-range"
                      /><br />
                      <b class="pull-left color">100000 MMK</b>
                      <b class="pull-right color">1000000000 MMK</b>
                    </div>
                    <!-- End of  -->

                    <!-- End of  -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- property area -->
    <div
      class="content-area recent-property"
      style="padding-bottom: 60px; background-color: rgb(252, 252, 252)"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12 padding-top-40 properties-page">
            <div class="col-md-12">
              <div class="col-xs-10 page-subheader sorting pl0">
                <!--/ .sort-by-list-->
                <h3>Last 10 Property</h3>
                <!--/ .items-per-page-->
              </div>

              <div class="col-xs-2 layout-switcher">
                <a class="layout-list" href="javascript:void(0);">
                  <i class="fa fa-th-list"></i>
                </a>
                <a class="layout-grid active" href="javascript:void(0);">
                  <i class="fa fa-th"></i>
                </a>
              </div>
              <!--/ .layout-switcher-->
            </div>

            <div class="col-md-12">
              <div id="list-type" class="proerty-th">
                <% for(var i = 0 ; i < properties.length; i++){%>
                <div class="col-sm-6 col-md-3 p0">
                  <div class="box-two proerty-item">
                    <div class="item-thumb">
                      <a href="/property_detail/<%= properties[i]._id%>"
                        ><img src="<%= properties[i].profile%>"
                      /></a>
                    </div>

                    <div class="item-entry overflow">
                      <h5>
                        <a href="/property_detail/<%= properties[i]._id%>">
                          <%= properties[i].name %>
                        </a>
                      </h5>
                      <div class="dot-hr"></div>
                      <span class="pull-left"
                        ><b> Area :</b> <%= properties[i].area %>
                      </span>
                      <span class="proerty-price pull-right"
                        ><%= properties[i].price %> MMK</span
                      >
                      <p style="display: none">
                        <%= properties[i].description %>
                      </p>
                      <div class="property-icon">
                        <img src="/assets/img/icon/bed.png" />(<%=
                        properties[i].bedRoom %>)|
                        <img src="/assets/img/icon/shawer.png" />(<%=
                        properties[i].bathRoom %>)
                      </div>
                    </div>
                  </div>
                </div>
                <%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer area-->
    <% include ./partial/footer %> <% include ./partial/script %>
  </body>
  <script>
    const regions = (<%- regions %>);
    addOptions('state', regions);
      $("#state").on('change', function(){
          var cities = $.grep( regions, function( n, i ) {
            return n.state == $("#state").val();
          });
          addOptions('district', cities);
      });

      function addOptions(id, arr){
          $("#"+id).children().remove();

          for(var idx in arr){
              // if(idx == 0) $("#"+id).append(new Option('Select '+id, ''));
              if(idx == 0 || arr[idx][id] != arr[idx-1][id]){
                  $("#"+id).append(new Option(arr[idx][id], arr[idx][id]));
              }
          }
          $('#district').selectpicker('refresh');
      }
  </script>
</html>
