<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <% include ./partial/head %>
    <link rel="stylesheet" href="/assets/css/wizard.css" />
  </head>
  <body>
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <% include ./partial/navbar %>
    <!-- End of nav bar -->

    <div class="page-head">
      <div class="container">
        <div class="row">
          <div class="page-head-content">
            <h1 class="page-title">ကျွန်ပ်တင်ထားသောအိမ်ခြံမြေပိုစ့်များ</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="content-area user-profiel" style="background-color: #fcfcfc">
      <div class="content-area recent-property" style="background-color: #fff">
        <div class="container">
          <div class="row">
            <div
              class="col-md-9 pr-30 padding-top-40 properties-page user-properties"
            >
              <div class="section">
                <div id="list-type" class="proerty-th-list">
                  <% for(var i = 0; i < properties.length; i++){%>
                  <div class="col-md-4 p0">
                    <div class="box-two proerty-item">
                      <div class="item-thumb">
                        <a href="/property_detail/<%= properties[i]._id%>"
                          ><img src="<%= properties[i].profile%>"
                        /></a>
                      </div>
                      <div class="item-entry overflow">
                        <h5>
                          <a href="/property_detail/<%= properties[i]._id%>">
                            <%= properties[i].name%>
                          </a>
                        </h5>
                        <div class="dot-hr"></div>
                        <span class="pull-left"
                          ><b> Area :</b> <%= properties[i].area%>
                        </span>
                        <span class="proerty-price pull-right">
                          <%= properties[i].price%> သိန်း</span
                        >
                        <p style="display: none">
                          <%= properties[i].description%>
                        </p>
                        <div class="property-icon">
                          <img src="/assets/img/icon/bed.png" />(<%=
                          properties[i].bedRoom%>)|
                          <img src="/assets/img/icon/shawer.png" />(<%=
                          properties[i].bathRoom%>)

                          <div class="dealer-action pull-right">
                            <a
                              href="/modify_property/<%= properties[i]._id%>"
                              class="button"
                              >ပြင်မည်
                            </a>
                            <a
                              href="/delete_property/<%= properties[i]._id%>"
                              class="button delete_user_car"
                              >ဖျက်မည်</a
                            >
                            <a
                              href="/property_detail/<%= properties[i]._id%>"
                              class="button"
                              >ကြည့်မည်</a
                            >
                            <% if(properties[i].soldout){%>
                            <a
                              href="/property_unsoldout/<%= properties[i]._id%>"
                              class="button"
                              disabled
                              >မရောင်းရသေး</a
                            >
                            <%}else{%>
                            <a
                              href="/property_soldout/<%= properties[i]._id%>"
                              class="button"
                              disabled
                              >ရောင်းပြီး</a
                            >
                            <%}%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%}%>
                </div>
              </div>
            </div>

            <div class="col-md-3 p0 padding-top-40">
              <div class="blog-asside-right">
                <div
                  class="panel panel-default sidebar-menu wow fadeInRight animated"
                >
                  <div class="panel-heading">
                    <h3 class="panel-title">Hello <%= locals.user.name %></h3>
                  </div>
                  <div class="panel-body search-widget"></div>
                </div>

                <div
                  class="panel panel-default sidebar-menu wow fadeInRight animated"
                >
                  <div class="panel-heading">
                    <h3 class="panel-title">Recommended</h3>
                  </div>
                  <div class="panel-body recent-property-widget"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer area-->
    <% include ./partial/footer %> <% include ./partial/script %>
    <script
      src="/assets/js/jquery.bootstrap.wizard.js"
      type="text/javascript"
    ></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/wizard.js"></script>
  </body>

  <script src="/javascripts/additional-methods.min.js"></script>
</html>
